.Toastify__toast-container {
    z-index: 9999 !important;
}

.users-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 968px) {
    .users-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .users-container {
        grid-template-columns: 1fr;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.page-button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: rgb(68, 68, 68);
    cursor: pointer;
    border-radius: 4px;
}

.page-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-button:hover {
    background-color: #007bff;
}